.navbar-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.Content{
    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: black;

}

.Content :hover{
    font-size: 24px;
   
}

.Heading__menu{
    font-size: 17px;
    font-weight: 200;
    text-decoration: none;
    
    
    
}


.Content h5{
    font-size: 19px;
    padding: 2px 12px;
    cursor: pointer;
    text-align: center;
    
    /* align-items: center; */
    /* align-content: center; */
    text-decoration: none;
    color: #000000;
}







@media only screen and (max-width: 600px) and (min-width: 400px)  {

   .Heading__menu{
       font-size: 6px;
       align-items: center;
   }
}